body{
    background: white;
    color: black;
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease-in-out;
}
.dark {
    background: #f82d2d;
    color: #3440b1;
}
button{
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px 20px;
}